.paginator {
    text-align: center;
    margin-top: 1em;
}

.pagination-action {
    margin: 0 0.1em;
    display: inline-block;
    padding: 0.5em;
    color: #B9B9B9;
    font-size: 1.3em;
}

.pagination-action:hover {
    color: #3354AA;
}

.paginator-number {
    background-color: #6D85C7;
    padding: 0.5em 0.8em;
    color: #fff;
    border-radius: 2px;
}

.pagination-action:hover, .paginator-current {
    background-color: #3354AA;
}